---
const { header } = Astro.props;
import Network from './Network.astro';

const sections = [
    { href: '#About', title: 'ABOUT' },
    { href: '#Experience', title: 'EXPERIENCE' },
    { href: '#Projects', title: 'PROJECTS' },
    { href: '#Education', title: 'EDUCATION' },
]
--- 
<div class="hidden md:flex h-screen sticky top-0 f w-[40%] max-w-[400px]">
    <header class="flex flex-col justify-between">
        <div class="flex flex-col items-start gap-5">
            <h1 class="text-5xl font-bold tracking-wide mt-24 text-black dark:text-gray-200">
              {header.name}
            </h1>
            <h2 class="text-2xl font-normal text-gray-800 dark:text-gray-200">
              {header.title}
            </h2>
            <h3 class="text-md text-gray-700 dark:text-gray-400">
              {header.description}
            </h3>
            <div class="border-2 flex items-center gap-2 rounded-full px-2 py-1 text-xs tracking-wider  text-[#31b9b4] border-[#31b9b4]"> 
                <span class="w-2 h-2 bg-[#31b9b4] rounded-full"></span>
                Open to Work
            </div>
        </div>
        
        <nav class="flex flex-col w-fit text-xs font-bold tracking-[0.25em] dark:text-gray-900">
            {sections.map((section) => (
                <a 
                class="flex items-center gap-2 group "
                href={section.href} 
                >
                    <span class="h-[2px] w-12 group-hover:w-24 group-hover:bg-black dark:group-hover:bg-white transition-all duration-200"></span>
                    <h2 class="py-2.5 flex-1 transition-all group-hover:text-black dark:group-hover:text-white duration-200">
                        {section.title}
                    </h2>
                </a>
            ))}
        </nav>

        <Network/>
    </header>
</div>

<script>
    const header = document.querySelector('header');
    const sections = document.querySelectorAll('section');
    const navLinks = header?.querySelectorAll('nav a');
    
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          console.log(entry.target.id);
          navLinks?.forEach((link) => {
            const isActive = link.getAttribute('href') === '#' + entry.target.id;
            const h2 = link.querySelector('h2');
            if (h2) {
              h2.classList.toggle('text-black', isActive);
              h2.classList.toggle('dark:text-white', isActive);
              h2.classList.toggle('text-gray-400', !isActive);
              h2.classList.toggle('dark:text-gray-500', !isActive);
            }
            const span = link.querySelector('span');
            if (span) {
              span.classList.toggle('w-24', isActive);
              span.classList.toggle('bg-black', isActive);
              span.classList.toggle('dark:bg-white', isActive);
              span.classList.toggle('bg-gray-400', !isActive);
              span.classList.toggle('dark:bg-gray-500', !isActive);
            }
          });
        }
      });
    },
    {
      threshold: 0.1
    });
    
    sections.forEach((section) => {
      observer.observe(section);
    });
</script>