---
import GithubIcon from "../icons/GithubIcon.astro";
import TechTag from "./TechTag.astro";
import type { Project } from "./types/types";
import type { TechnologyType } from "./types/tech_types";
import { Image } from "astro:assets";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;

---

<section id="Projects" class="flex flex-col gap-4">
  <h1 class="text-3xl font-normal mb-6 dark:text-white">
    Projects
  </h1>

  <div class="flex flex-col gap-8 md:pl-4">
    {projects.map((project) => (
      <article class="flex flex-col rounded-2xl border border-gray-300 dark:border-gray-700 md:w-[90%] group hover:blur-none hover:cursor-pointer hover:scale-102 shadow-sm hover:shadow-2xl dark:shadow-black transition-all duration-200"
      style="position: relative; overflow: hidden;">
        <a 
          href={project.url}
          target="_blank"
          class="absolute inset-0 z-10"
          style="contain: strict;"
        ></a>
        <div class="w-[100%] h-fit max-h-[300px] overflow-hidden rounded-t-2xl aspect-video md:aspect-[16/8]">
          <Image src={project.image} alt="Test Image" class="rounded-t-2xl w-full object-cover group-hover:scale-115 transition-all duration-500"/>
        </div>
        <div class="flex flex-col p-4 gap-4 group">
          <div class="flex flex-row gap-2 w-full items-center justify-between">
            <h2 class="text-xl font-extrabold dark:text-gray-200 group-hover:underline transition-all duration-300">
              {project.title}
            </h2>
            <a 
              href={project.github}
              target="_blank" 
              class="hoverable z-20 p-1 md:p-2 absolute right-5 rounded-full border-2 border-white md:border-transparent hover:border-black hover:dark:border-white backdrop-blur-2xl opacity-90 hover:shadow-2xl transition-all duration-200">
              <GithubIcon class="h-5 md:h-6 text-gray-800 dark:text-white"/>
            </a>
          </div>
          <p class="prose dark:prose-invert text-gray-700 dark:text-gray-400">
            {project.description}
          </p>
          <div class="flex flex-row gap-2 w-full flex-wrap mt-1.5">
            {project.tech.map((tech) => {
              return <TechTag tech={tech as TechnologyType}/>
            })}
          </div>
        </div>
      </article>
    ))}
  </div>
  

</section>