---
import type { TechnologyType } from './types/tech_types';
import { Technology } from './types/tech_types';

interface Props {
    tech: TechnologyType;
}

const { tech } = Astro.props;
const { name, color, icon: Icon } = Technology[tech];
---

<div 
  class="flex flex-row items-center gap-2 rounded-md w-fit h-fit px-2 py-1 text-xs 
         dark:bg-[var(--dynamic-dark-bg-color)]
         bg-[var(--dynamic-bg-color)]"
  style={`
    --dynamic-dark-bg-color: ${color[0] + '30'}; 
    --dynamic-bg-color: ${color[1] + '30'};
    --dynamic-dark-text-color: ${color[0]};
    --dynamic-text-color: ${color[1]};
    --dynamic-dark-icon-color: ${color[0]};
    --dynamic-icon-color: ${color[1]};
  `}
>
  <Icon 
    className="w-4 h-4 text-[var(--dynamic-icon-color)] dark:text-[var(--dynamic-dark-icon-color)]"
  />
  <h1 
    class="font-bold text-[var(--dynamic-text-color)] dark:text-[var(--dynamic-dark-text-color)]"
  >
    {name}
  </h1>
</div>